main {
    padding: 20px;
}
/* Masquer le menu par défaut */
.hidden {
    display: none;
}

.droits{
    text-align: center;
} 
.containerProduits {
   display: flex;  /* Pour aligner les filtres et les produits côte à côte */
}
.filters {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
    border-right: 1px solid #ccc;
}
.filter-group {
    margin-bottom: 1em; /* Espacement en dessous du groupe */
    border-bottom: 1px solid #ccc; /* Ligne de séparation */
    transition: all 0.3s ease;
    padding: 2px;
}
.filter-group.expanded {
    transform: scale(1.1); /* Agrandissement de la section */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
}
.filter-group p {
    margin-bottom: 0.5em; /* Espacement sous le titre */
    font-family: AvenirNext, Helvetica, Arial, sans-serif;   
    cursor: pointer; /* Indiquer que le paragraphe est cliquable */ 
    display: flex; /* Ajout de Flexbox pour aligner l'icône à droite */
    justify-content: space-between; /* Ajout pour séparer le texte et l'icône */
}
.filter-group .toggle-icon {
    font-size: 1.2em; /* Ajustez la taille de l'icône si nécessaire */
}
.filter-group p:hover {
    color: red;
}
.filter-labels {
    display: flex;
    flex-wrap: wrap; /* Permet aux labels de passer à la ligne si nécessaire */
    display: none; /* Masque la section par défaut */
    height: 0;          /* Hauteur initiale à 0 */
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.filter-labels.active {
    display: block; /* Affiche la section si la classe "active" est présente */
    height: auto;   
    transition: opacity 0.3s ease, height 0s ease 0s;
    
}
.filter-group label {
    width: auto; /* La largeur s'adapte au contenu */
    display: inline-block; /* Affiche les labels sur la même ligne */
    margin-right: 0.5em; /* Espacement entre les labels */
    margin-bottom: 0.5em; /* Espacement en dessous pour éviter qu'ils ne collent au groupe suivant */

}

.filter-group input[type="checkbox"],
.filter-group input[type="radio"] {
    margin-right: 0.3em; /* Petit espace entre le bouton et le texte */
    vertical-align: middle; /* Aligne verticalement le bouton avec le texte */

}
#products {
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap; /* Permet aux produits de passer à la ligne */
}
.produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    width: 300px;
}
.produit img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.produit-details {
    text-align: center;
}
.produit-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #888;
    text-transform: capitalize;
    font-weight: 500;
}

.produit-details p.produit-prix {
    font-weight: bold;
    color: #555;
}


.produit  a{
    text-decoration: none;
}
.produit-details h3:hover {
    color: red;
}

.filters select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 1em; /* Espacement en dessous */
}
.navbar ol {
    list-style-type: none;
    padding-left: 50;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .mots_navbar {
    display: inline;
    margin-right: 10px;
    font-size: 0.9rem;
    
  }
  .mots_navbar a {
    font-family: AvenirNext, Helvetica, Arial, sans-serif;
    color: #6a7889;
  }
  .mots_navbar a:hover{
    color: red;
  }
  .mots_navbar::after {
    margin-left: 10px;
    content: '/';
    color: #888;
  }
  .navbar ol li:last-child::after {
      content: none;
  }